@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-primary: #0069AC;
  --color-secondary: #FFB700;
  --color-danger: #DF4B24;
  --color-graybase: #1F1A17;
}

:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  -webkit-font-smoothing: antialiased;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

.container {
  @apply max-w-[800px] px-4;
}

.center-children-horizontally {
  @apply justify-center flex;
}
